[mysqld]
skip_external_locking
# skip_name_resolve
# table_open_cache = 256
# max_allowed_packet = 8M
# max_connections = 200 # default is 100
# max_connect_errors = 10000
# key_buffer = 32M
# sort_buffer_size = 4M
# read_buffer_size = 1M
# myisam_sort_buffer_size = 1M
# thread_cache = 256
#
# tmp_table_size = 64M
# max_heap_table_size = 64M
# character_set_server = utf8
# default_storage_engine = InnoDB
#
#query_cache_type = 1
#query_cache_size = 128M


## innodb
innodb_buffer_pool_size = 512M
# innodb_log_file_size = 128M
# innodb_log_files_in_group = 2
# innodb_log_buffer_size = 8M

innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 0


## slow log
slow_query_log_file = /var/log/mysql/mysql-slow.log
slow_query_log = 1
long_query_time = 0





